@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color:black;
  z-index: 99;
}

.header {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color:#E95793;
  transition: 0.3s;
}
nav .logo a:hover {
  color: #ED5AB3;
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: #E95793;
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color:#F78CA2 ;
  transition: 0.3s;
  color:#F9DEC9;
}

ul li a:hover {
  border-top-color: #FFC7C7;
  border-bottom-color: #FFC7C7;
  color: #FFC7C7;
}

.home__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: #F9DEC9;
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding-top:50px;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  color:#F78CA2 ;
  margin-bottom: 1rem;
  padding-top:10px;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: #F9DEC9;
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
  padding-top:10px;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid #E95793 ;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.hire__me {
  background-color:#E95793 ;
  color: #ffffff;
}

.hire__me:hover {
  background-color:#ED5AB3 ;
}

.portfolio {
  color:#E95793;
}

.portfolio:hover {
  background-color: #ED5AB3;
  color: #ffffff;
}

.image {
  display: grid;
  place-items: center;
  padding-top:40px;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .home__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }
}

#about{
    padding-top:50px;
    display:flex;
    flex-direction:rows;
    height:100vh
}
.about-content{
     width:550px;
}
.about-content h3{
    color:#E95793;
    padding-left:30px;
    padding-top:100px;
    padding-bottom:20px;
    display:flex;
    justify-content: center;
}
.about-content p{
    color:#F78CA2;
    padding-left:100px;
    display:flex;
    justify-content: center;   
}
.about-content h3:hover{
    transform: scale(1.05);
    cursor:pointer;
}
.skills h3{
    color:#E95793;
    display:flex;
    justify-content:center;
    padding-left: 200px;
    padding-top:105px;
    padding-bottom: 30px;
}
.skills ul{
    list-style-type: none;
    display:flex;
    flex-direction: column;
    padding-left:200px;
}
.skills ul li{
    color:#F78CA2;
}
.skills h3:hover{
    transform: scale(1.05);
    cursor:pointer;
}
.skills ul li:hover{
    transform: scale(1.05);
}

@media (width < 750px) {
    #about{
        display:flex;
        flex-direction: column;
   }
   .about-content h3{
        display:flex;
        justify-content: center;
   }
   .about-content p{
        display:flex;
        justify-content: center;
        padding-left: 70px;
        padding-right:10px;
   }
   .skills h3{
    display:none;
   }
}


.projects {
  padding: 6rem 0;
}

.proj-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.proj-1 img {
  height: 200px;
  width: 250px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 20px 10px -10px rgb(37 41 52 / 31%);
  margin-right: 1.7rem;
}

.proj-1 img:hover{
  transform: scale(1.05);
}

.proj-1 .proj1-details {
  width: 32rem;
}

.proj-1 .proj1-details h2 {
  font-size: 2rem;
  color: #E95793;
}

.proj-1 .proj1-details p {
  font-size: 1.3rem;
  color: #F9DEC9;
  font-weight: 600;
}

.proj-1 .proj1-details button {
  background: #f0f0e6;
  padding: 0.5rem;
  margin-top: 0.5rem;
  width: 120px;
  border: none;
  border-bottom: 2px solid #07374a;
}

.proj-1 .proj1-details button a {
  text-decoration: none;
  color: #F78CA2;
  font-size: 1.1rem;
  transition: 0.2s ease-in-out;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.proj-1 .proj1-details button:hover {
  background:#E95793;
}

.proj-1 .proj1-details button:hover a {
  color: #f0f0e6;
}

.proj-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.proj-2 img {
  height: 200px;
  width: 250px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 20px 10px -10px rgb(37 41 52 / 31%);
  margin-right: 1.7rem;
}

.proj-2 img:hover{
  transform: scale(1.05);
}


.proj-2 .proj2-details {
  width: 32rem;
}

.proj-2 .proj2-details h2 {
  font-size: 2rem;
  color:#E95793;
}

.proj-2 .proj2-details p {
  font-size: 1.3rem;
  color:#F9DEC9; 
  font-weight: 600;
}

.proj-2 .proj2-details button {
  background: #f0f0e6;
  padding: 0.5rem;
  margin-top: 0.5rem;
  width: 120px;
  border: none;
  border-bottom: 2px solid #07374a;
}

.proj-2 .proj2-details button a {
  text-decoration: none;
  color: #F78CA2;
  font-size: 1.1rem;
  transition: 0.2s ease-in-out;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.proj-2 .proj2-details button:hover {
  background: #E95793;
}

.proj-2 .proj2-details button:hover a {
  color: #f0f0e6;
}


#contact{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 300px;
  flex-direction:column;
  padding-top:130px;
  padding-bottom:100px;
}

.contact-info{
  text-align: center;
  font-weight: 500px;
  font-size: small;
  padding-top: 0px;
  padding-bottom: 100px;
}

.contact-info h2{
  color:#E95793;
}
.contact-info p{
  color:#F78CA2;
}
.social-links{
  margin-top: 20px;
  right: 5%;
  bottom: 5%;
}
.social-links::before{
  width: 80%;
  height: 3px;
  background-color: #494234;
}
.social-links i{
  margin-left: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #F78CA2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.social-links i:hover{
  transform: translateY(-5px);
}

